*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    font-family: 'Montserrat';
    transition: 0.2s;
    

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
ul li:nth-child(odd){
    background-color: #d9d9d9;
}
ul li:hover{
    background: #aaa;
}
.header{
    text-align: center;
    padding: 30px 40px;
    background:purple ;
    color: white;
    font-family: 'Montserrat';
    font-weight: bold;
}
.header:after {
    content: "";
    display: table;
    clear: both;
  }

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
ul li.checked::before{
    content: "";
    position: absolute;
    top: 10px;
    left: 16px;
    width: 7px;
    height: 15px;
    transform: rotate(45deg);
    border: solid white;
    border-width: 0 2px 2px 0;
}
input{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}
.Boton-add{
    padding: 10px;
    width: 25%;
    color: #555;
    text-align: center;
    background-color: #d9d9d9;
    float: left;
    transition: 0.3s ease-out;
}
.Boton-add:hover{
    cursor: pointer;
    background: #bbb;

}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
  }